# C++ objects and libs
*.slo
*.lo
*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dll
*.exp
*.ilk
*.pdb
*.map

# Qt files
Makefile*
moc_*.cpp
mocs_compilation.cpp
moc_predefs.h
ui_*.h
qrc_*.cpp
.qmake.stash
*.pyc
*.user
*.user.*
Tetris
*.pro.user*
translations/*.qm
.qm/
*.deb
qmake_qmake_qm_files.qrc

# Debug/Release directories
debug/
release/

# Build directories
build*/

# Hidden files
.DS_Store
.vscode/
.idea/
*.swp

# test linyapps
w/