#!/usr/bin/make -f
export DH_VERBOSE = 1
export PKG_CONFIG_PATH = /home/ghost/.local/dtk5/lib/pkgconfig:$(PKG_CONFIG_PATH)
export LD_LIBRARY_PATH = /home/ghost/.local/dtk5/lib:$(LD_LIBRARY_PATH)

%:
	dh $@

override_dh_auto_configure:
	cd src && /usr/lib/qt5/bin/qmake PREFIX=/usr

override_dh_auto_clean:
	test ! -f src/Makefile || /usr/lib/qt5/bin/qmake -after "CONFIG-=lrelease embed_translations" 2>/dev/null || true
	dh_auto_clean
	rm -rf src/.qm

override_dh_install:
	dh_install
	install -d debian/tetris-deepin/usr/share/applications
	install -m 644 src/tetris-deepin.desktop debian/tetris-deepin/usr/share/applications/
	install -d debian/tetris-deepin/usr/share/icons/hicolor/scalable/apps
	install -m 644 src/icons/tetris-deepin.svg debian/tetris-deepin/usr/share/icons/hicolor/scalable/apps/
